body {
  background-color: #333;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

#app {
  background-color: #333;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

h1,
h2 {
  color: #fff;
  margin: 10px 0;
}

.red {
  background-color: red;
}

.color {
  width: 60px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

#colors {
  position: relative;
  background-color: #444;
  padding: 15px;
  border-radius: 15px;
  min-height: 80px; 
  width: 100%;
  max-width: 800px; 
  margin: 20px auto;
}
